{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    {% for user in users %}
    <p>{{ user.firstname }} | {{ user.lastname }} | {{ user.email }}</p>
    {% endfor %}

    <div class="container">
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
{#        {{ form_label(form.birthday) }}#}
{#    {{ form_widget(form.birthday, {'attr': {'class': 'datepicker'}}) }}#}
    {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        // $(document).ready(function(){
        //     $('.datepicker').datepicker();
        // });
    </script>
{% endblock %}