{% extends 'base.html.twig' %}

{% block title %}Hello WorkController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

{#    <pre>#}
{#        {{ dump(work) }}#}
{#    </pre>#}

    {% for data in work.hits.hits %}
        <pre>
        {{ dump(data._source.images[1].urls.original) }}
        </pre>
        <h1>{{ data._source.authors[0].name.fr }}</h1>
        <h2>{{ data._source.title.fr }}</h2>
        <h3>{{ data._source.location.name.fr }}</h3>
        <h3>{{ data._source.location.website }}</h3>
        <img src="{{ data._source.images[0].urls.original }}">
        <p>{{ data._source.images[0].source.copyright }} - {{ data._source.images[0].photographer.name }}</p>
        {% for image in data._source.images  %}
            <img width="100px" height="100px" src="{{ image.urls.original }}">
            {% endfor %}
    {% endfor %}
</div>
{% endblock %}
{% block javascripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript">
                $(document).on('contextmenu', 'img', function () {
                        return false;
                })
        </script>
{% endblock %}
